@import "../main";
@import "../navbar";
@import "../footer";

.question-container {
  --bg: var(--indigo500);

  --score-header-bg: var(--indigo200);
  --score-header-txt: var(--indigo600);

  --user-answer-bg: var(--indigo200);

  --result-bg: var(--indigo300);
  --result-txt: var(--indigo700);

  --result-bg-hit: var(--emerald300);
  --result-bg-hit-txt: var(--emerald700);

  --result-bg-miss: var(--red300);
  --result-bg-miss-txt: var(--red700);
  
  @include doFlex(column, center, center, 0);
  width: 100%; min-height: 100vh;
  
  background-color: var(--bg); border-radius: 0;
  
  .form-container {
    @include doFlex(column, start, stretch, .5em);
    width: 100%;
    padding: var(--main-current-spacing);
    background-color: var(--white);
    border-radius: .5em;

    .question-headers {
      @include doFlex(row, stretch, stretch, .5em);
      width: 100%;

      h5 {
        padding: .25em; border-radius: .25em;
        font-size: .75rem; b, b i {font-size: .75rem;}
        font-weight: 900;
  
        text-transform: uppercase;
        background-color: var(--score-header-bg); color: var(--score-header-txt);
      }

      h5:first-of-type {
        width: max-content;
      }
    }

    .quiz-result {
      width: 100%;
      padding: .5em;
      margin-top: .5em; 
      border-radius: .5em;
      background-color: var(--result-bg); color: var(--result-txt);

      &.hit {background-color: var(--result-bg-hit); color: var(--result-bg-hit-txt);}
      &.miss {background-color: var(--result-bg-miss); color: var(--result-bg-miss-txt);}
    }
    
    form {
      @include doFlex(column, start, start, .5em);
      width: 100%;

      .fields {
        @include doFlex(column, start, start, 0);
        width: 100%;
        margin: .5em 0;

        .field {
          @include doFlex(row, center, center, .5em);
          width: 100%;
          padding: .5em;
          border-radius: .5em;

          label {display: block; width: 100%;}

          &.userAnswer {background-color: var(--user-answer-bg);}
        }
      }
    }
  }
}