@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  --white: #fff;
  --black: #000;
  --zinc50: #fafafa;
  --zinc100: #f4f4f5;
  --zinc200: #e4e4e7;
  --zinc300: #d4d4d4;
  --zinc400: #a3a3a3;
  --zinc500: #737373;
  --zinc600: #525252;
  --zinc700: #404040;
  --zinc800: #262626;
  --zinc900: #171717;
  --zinc950: #09090b;
  --indigo50: #eef2ff;
  --indigo100: #e0e7ff;
  --indigo200: #c7d2fe;
  --indigo300: #a5b4fc;
  --indigo400: #818cf8;
  --indigo500: #6366f1;
  --indigo600: #4f46e5;
  --indigo700: #4338ca;
  --indigo800: #3730a3;
  --indigo900: #312e81;
  --indigo950: #1e1b4b;
  --emerald50: #ecfdf5;
  --emerald100: #d1fae5;
  --emerald200: #a7f3d0;
  --emerald300: #6ee7b7;
  --emerald400: #34d399;
  --emerald500: #10b981;
  --emerald600: #059669;
  --emerald700: #047857;
  --emerald800: #065f46;
  --emerald900: #064e3b;
  --emerald950: #022c22;
  --red50: #fef2f2;
  --red100: #fee2e2;
  --red200: #fecaca;
  --red300: #fca5a5;
  --red400: #f87171;
  --red500: #ef4444;
  --red600: #dc2626;
  --red700: #b91c1c;
  --red800: #991b1b;
  --red900: #7f1d1d;
  --red950: #450a0a;
  --title: var(--indigo950);
  --link: var(--indigo600);
  --msg: var(--indigo300);
  --msg-txt: var(--indigo900);
  --msg-err: var(--red600);
  --msg-err-txt: var(--white);
  --msg-ok: var(--emerald700);
  --msg-ok-txt: var(--white);
  --btn-basic: var(--indigo300);
  --btn-basic-txt: var(--indigo950);
  --btn-basic-dark: var(--zinc950);
  --btn-basic-dark-txt: var(--white);
  --btn-txt: var(--zinc950);
  --btn-border: var(--zinc950);
  --btn-fill: var(--indigo600);
  --btn-fill-txt: var(--white);
  --btn-fill-hover: var(--indigo700);
  --btn-disabled-bg: var(--zinc400);
  --btn-disabled-bg-hover: var(--zinc300);
  --btn-disabled-txt: var(--zinc700);
  --btn-disabled-border: var(--zinc950);
  --main-current-spacing: .75em;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Host Grotesk", sans-serif;
  font-size: 1rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--title);
}

h2 {
  font-size: 1.75rem;
  font-weight: 800;
  color: var(--title);
}

h3 {
  font-size: 1.25rem;
  font-weight: 800;
  color: var(--title);
}

a {
  text-decoration: underline;
  color: var(--link);
}

.btn {
  display: block;
  padding: 0.5em 1em;
  font-size: 0.9rem;
  font-weight: 300;
  border-radius: 0.5em;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  background-color: transparent;
  color: var(--btn-txt);
  border: 1px solid var(--btn-border);
  cursor: pointer;
  transition: 0.2s;
}
.btn a {
  text-decoration: none;
}
.btn:active, .btn:focus, .btn:hover {
  background-color: var(--btn-basic-dark);
  color: var(--btn-basic-dark-txt);
}
.btn.full {
  width: 100%;
}
.btn.fill {
  background-color: var(--btn-fill);
  color: var(--btn-fill-txt);
  border-color: var(--btn-fill);
}
.btn.fill:active, .btn.fill:focus, .btn.fill:hover {
  background-color: var(--btn-fill-hover);
}
.btn.lightred {
  border-color: var(--red400);
  color: var(--red700);
}
.btn.lightred a {
  color: var(--red700);
}
.btn.lightred:active, .btn.lightred:hover, .btn.lightred:focus {
  background-color: var(--red400);
  border-color: var(--red400);
  color: var(--red800);
}
.btn.lightred:active a, .btn.lightred:hover a, .btn.lightred:focus a {
  color: var(--red800);
}
.btn.disabled {
  background-color: var(--btn-disabled-bg);
  color: var(--btn-disabled-txt);
  border-color: var(--btn-disabled-border);
  cursor: not-allowed;
}
.btn.disabled:active, .btn.disabled:focus, .btn.disabled:hover {
  background-color: var(--btn-disabled-bg-hover);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: center;
  gap: 2em;
  min-height: 100vh;
  padding: var(--main-current-spacing);
  background-color: var(--white);
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: flex-start;
  gap: 1em;
  padding: var(--main-current-spacing);
  border-radius: 1em;
  background-color: var(--white);
}

.msg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 0.25em 1em;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 3em;
  background-color: var(--msg);
  color: var(--msg-txt);
}
.msg p, .msg a {
  font-size: 0.9rem;
  color: var(--msg-txt);
}
.msg.msg-err {
  background-color: var(--msg-err);
  color: var(--msg-err-txt);
}
.msg.msg-err p, .msg.msg-err a {
  color: var(--white);
}
.msg.msg-ok {
  background-color: var(--msg-ok);
  color: var(--msg-ok-txt);
}
.msg.msg-ok p, .msg.msg-ok a {
  color: var(--white);
}

:root {
  --white: #fff;
  --black: #000;
  --zinc50: #fafafa;
  --zinc100: #f4f4f5;
  --zinc200: #e4e4e7;
  --zinc300: #d4d4d4;
  --zinc400: #a3a3a3;
  --zinc500: #737373;
  --zinc600: #525252;
  --zinc700: #404040;
  --zinc800: #262626;
  --zinc900: #171717;
  --zinc950: #09090b;
  --indigo50: #eef2ff;
  --indigo100: #e0e7ff;
  --indigo200: #c7d2fe;
  --indigo300: #a5b4fc;
  --indigo400: #818cf8;
  --indigo500: #6366f1;
  --indigo600: #4f46e5;
  --indigo700: #4338ca;
  --indigo800: #3730a3;
  --indigo900: #312e81;
  --indigo950: #1e1b4b;
  --emerald50: #ecfdf5;
  --emerald100: #d1fae5;
  --emerald200: #a7f3d0;
  --emerald300: #6ee7b7;
  --emerald400: #34d399;
  --emerald500: #10b981;
  --emerald600: #059669;
  --emerald700: #047857;
  --emerald800: #065f46;
  --emerald900: #064e3b;
  --emerald950: #022c22;
  --red50: #fef2f2;
  --red100: #fee2e2;
  --red200: #fecaca;
  --red300: #fca5a5;
  --red400: #f87171;
  --red500: #ef4444;
  --red600: #dc2626;
  --red700: #b91c1c;
  --red800: #991b1b;
  --red900: #7f1d1d;
  --red950: #450a0a;
  --title: var(--indigo950);
  --link: var(--indigo600);
  --msg: var(--indigo300);
  --msg-txt: var(--indigo900);
  --msg-err: var(--red600);
  --msg-err-txt: var(--white);
  --msg-ok: var(--emerald700);
  --msg-ok-txt: var(--white);
  --btn-basic: var(--indigo300);
  --btn-basic-txt: var(--indigo950);
  --btn-basic-dark: var(--zinc950);
  --btn-basic-dark-txt: var(--white);
  --btn-txt: var(--zinc950);
  --btn-border: var(--zinc950);
  --btn-fill: var(--indigo600);
  --btn-fill-txt: var(--white);
  --btn-fill-hover: var(--indigo700);
  --btn-disabled-bg: var(--zinc400);
  --btn-disabled-bg-hover: var(--zinc300);
  --btn-disabled-txt: var(--zinc700);
  --btn-disabled-border: var(--zinc950);
  --main-current-spacing: .75em;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Host Grotesk", sans-serif;
  font-size: 1rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--title);
}

h2 {
  font-size: 1.75rem;
  font-weight: 800;
  color: var(--title);
}

h3 {
  font-size: 1.25rem;
  font-weight: 800;
  color: var(--title);
}

a {
  text-decoration: underline;
  color: var(--link);
}

.btn {
  display: block;
  padding: 0.5em 1em;
  font-size: 0.9rem;
  font-weight: 300;
  border-radius: 0.5em;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  background-color: transparent;
  color: var(--btn-txt);
  border: 1px solid var(--btn-border);
  cursor: pointer;
  transition: 0.2s;
}
.btn a {
  text-decoration: none;
}
.btn:active, .btn:focus, .btn:hover {
  background-color: var(--btn-basic-dark);
  color: var(--btn-basic-dark-txt);
}
.btn.full {
  width: 100%;
}
.btn.fill {
  background-color: var(--btn-fill);
  color: var(--btn-fill-txt);
  border-color: var(--btn-fill);
}
.btn.fill:active, .btn.fill:focus, .btn.fill:hover {
  background-color: var(--btn-fill-hover);
}
.btn.lightred {
  border-color: var(--red400);
  color: var(--red700);
}
.btn.lightred a {
  color: var(--red700);
}
.btn.lightred:active, .btn.lightred:hover, .btn.lightred:focus {
  background-color: var(--red400);
  border-color: var(--red400);
  color: var(--red800);
}
.btn.lightred:active a, .btn.lightred:hover a, .btn.lightred:focus a {
  color: var(--red800);
}
.btn.disabled {
  background-color: var(--btn-disabled-bg);
  color: var(--btn-disabled-txt);
  border-color: var(--btn-disabled-border);
  cursor: not-allowed;
}
.btn.disabled:active, .btn.disabled:focus, .btn.disabled:hover {
  background-color: var(--btn-disabled-bg-hover);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: center;
  gap: 2em;
  min-height: 100vh;
  padding: var(--main-current-spacing);
  background-color: var(--white);
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: flex-start;
  gap: 1em;
  padding: var(--main-current-spacing);
  border-radius: 1em;
  background-color: var(--white);
}

.msg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 0.25em 1em;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 3em;
  background-color: var(--msg);
  color: var(--msg-txt);
}
.msg p, .msg a {
  font-size: 0.9rem;
  color: var(--msg-txt);
}
.msg.msg-err {
  background-color: var(--msg-err);
  color: var(--msg-err-txt);
}
.msg.msg-err p, .msg.msg-err a {
  color: var(--white);
}
.msg.msg-ok {
  background-color: var(--msg-ok);
  color: var(--msg-ok-txt);
}
.msg.msg-ok p, .msg.msg-ok a {
  color: var(--white);
}

body {
  --bg-gradient: linear-gradient(235deg, var(--indigo300) 0, var(--indigo500) 100%);
  --bg: var(--white);
  --input-border: var(--indigo200);
  --input-focus: var(--indigo50);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100vw;
  height: 100vh;
  background: var(--bg-gradient);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 2em;
  border-radius: 0.5em;
  background-color: var(--bg);
}
form .field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.1em;
  width: 100%;
}
form .field label {
  display: block;
  width: 100%;
  font-weight: bold;
  text-transform: capitalize;
}
form .field input {
  display: block;
  width: 100%;
  padding: 0.5em;
  border-radius: 0.25em;
  border: 1px solid var(--input-border);
  transition: 0.2s;
}
form .field input:active, form .field input:focus, form .field input:hover {
  background-color: var(--input-focus);
}
form .links {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: center;
  gap: 0.1em;
}
form .links ul {
  list-style-type: none;
}
form .links ul li {
  text-align: center;
}/*# sourceMappingURL=signup.css.map */